:root {
  --white: #fff;
  --navy: #0A0C1C;
  --blue-950: #1B1937;
  --purple-500: #AB5CDB;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inter-v20-latin/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inter-v20-latin/inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lexend-deca-v25-latin/lexend-deca-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--navy);
  color: var(--white);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;

  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
/* h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
} */

/*
  10. Create a root stacking context
*/
/* #root, #__next {
  isolation: isolate;
} */

.card {
  max-width: 327px;
  margin-inline: 24px;
  background-color: var(--blue-950);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
}

.card__img {
  opacity: 24.89%;
  /* filter: invert(62%) sepia(50%) saturate(7264%) hue-rotate(245deg) brightness(92%) contrast(85%); */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__content {
  padding: 24px 32px;
}

.card__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
}

.card__title span {
  color: var(--purple-500);
}

.card__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.65;
  padding-block: 8px 40px;
}

.card__stats {
  display: grid;
  row-gap: 32px;
}

.card__stats div p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.card__stats div p:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 1;
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
